numpy
matplotlib
scikit-learn
wandb
datasets
spacy
tqdm
evaluate
sacrebleu
gdown

# spaCy pipeline models installed as direct wheels so they are present at
# environment-setup time (NOT downloaded during the timed infer() call).
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl